.container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  gap: 5rem;
  position: relative;
}

.productsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorModalContainer {
  padding: 0.3rem 2rem;
  background-color: red;
  border-radius: 15px;
  position: fixed;
  top: 90vh;
}

.errorModalText {
  font-weight: bold;
}
