.filtersContainer {
  min-width: 250px;
  border: 1px solid #d4d4d4;
  border-radius: 1.5rem;
  max-height: 450px;
}

.filtersContainer section {
  padding: 2rem;
}

.filtersHeader {
  font-size: 2rem;
  margin: 1rem 0;
  position: absolute;
  top: 5%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d4d4d4;
}

.filtersSection {
  position: relative;
}

.showAllButton {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid #d4d4d4;
  /* border: none; */
  border-radius: 1.5rem;
  margin: 6rem 0 1rem 0;
  transition: all 0.3s;
}

.showAllButton:hover {
  cursor: pointer;
  background: rgb(235, 235, 235);
  box-shadow: -4px 4px 9px -6px #000;
  border: 1px solid transparent;
}

.typeFilterContainer {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}
