.aboutPage {
  font-family: "Playfair Display", serif;
}

.aboutUsSection {
  padding-top: 10rem;
}

.aboutUsSection,
.aboutProductsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainTitle,
.productsSectionTitle {
  font-size: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  margin-bottom: 10rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 1400px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10rem;
}

.img {
  width: 600px;
  height: auto;
  border-radius: 5px;
}

.leftImg {
  box-shadow: -7px 7px 14px -6px #000;
}

.rightImg {
  box-shadow: 7px 7px 14px -6px #000;
}

.textContainer {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 10rem;
}

.secondContainer {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
}

.aboutProductsSection {
  margin-top: 5rem;
}

.awardsTitle {
  margin-bottom: 0 !important ;
}

.list {
  list-style: "✓ ";
}

.award {
  font-size: 1.4rem;
  font-weight: 400;
}
.sectionWrapper {
  width: 1400px;
}

.pastaTypesContainer {
  margin: 10rem 0;
  text-align: center;
}

.pastaGroups {
  display: flex;
  width: 100%;
  gap: 4rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pastaTypeAnchor {
  transition: all 0.3s;
  position: relative;
}

.pastaTypeAnchor::after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.pastaTypeAnchor:hover::after {
  width: 100%;
}

.type {
  margin-bottom: 5rem;
}

.typeBox {
  box-shadow: 2px 2px 8px -4px;
  border: 1px solid #dcdde1;
}

.allTypesContainer ul li {
  text-align: center;
}

.longList,
.shortList,
.sheetList,
.filledList,
.dumplingList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-bottom: 10rem;
}

/*
Angel's Hair
Bucatini
Fettuccine
Spaghetti
Linguine
Vermicelli
*/
