.cartForm {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numberInput {
  width: 50px;
  font-size: 1rem;
  text-align: center;
  padding: 0.2rem 0.4rem;
}

.submitButton {
  font-size: 1rem;
}

.pastaName {
  font-size: 1.6rem;
}
